[2017-08-10 14:17] mundschenk-at opened #2 "Optionally fix incorrect dashes (n-dash instead of m-dash or vice-versa)"
_From @mundschenk-at on July 21, 2016 16:30_

Sometimes users try to do the right thing, but use the wrong dash.

_Copied from original issue: mundschenk-at/wp-typography#51_

[2017-08-10 14:18] mundschenk-at opened #3 "Improve hanging punctuation"
_From @mundschenk-at on July 1, 2016 9:11_

Improve hanging punctuation implementation based on suggestions by Олег Резников https://jsfiddle.net/tkpvjrxk/1/

_Copied from original issue: mundschenk-at/wp-typography#45_

[2017-08-10 14:18] mundschenk-at opened #4 "Widow control: make number of words to keep together configurable"
_From @mundschenk-at on January 18, 2016 12:10_

"When it comes to widow control, please allow us to increase the number of words required to complete the final line. I'd like to have a three word minimum on the final line, not just two."

https://wordpress.org/support/topic/feature-request-configure-minimum-number-of-words-for-widow-control?replies=1

_Copied from original issue: mundschenk-at/wp

[2017-08-10 14:18] mundschenk-at opened #5 "Add thousands separator to large numbers"
_From @mundschenk-at on January 11, 2016 14:2_

See http://typefacts.com/artikel/zahlengliederung-digital for an example.

_Copied from original issue: mundschenk-at/wp-typography#21_

[2017-08-10 14:19] mundschenk-at opened #6 "French punctuation spacing not working after links"
_From @mundschenk-at on August 5, 2017 9:44_

Reported by Bernard Bel in https://code.mundschenk.at/wp-typography/#comment-320:

https://lebonheurestpossible.org/statines-et-medicaments-anticholesterol/

_Copied from original issue: mundschenk-at/wp-typography#136_

[2017-08-10 14:20] #6 closed

[2017-08-10 14:21] mundschenk-at opened #7 "Break up PHP_Typography into smaller classes"
_From @mundschenk-at on June 7, 2017 14:43_

Break up the monolithic `PHP_Typography` class into smaller classes for individual typography fixes.

May induce a refactoring of the external API. PHP 7.x only (#109).

_Copied from original issue: mundschenk-at/wp-typography#124_

[2017-08-10 14:21] #7 closed

[2017-08-10 17:40] mundschenk-at opened #8 "Treat & as a single-letter word"
Brought up by @strarsis on the [WordPress forums]( https://wordpress.org/support/topic/no-lone/).

[2017-08-10 17:59] #8 closed

[2017-08-28 14:33] mundschenk-at opened #18 "__METHOD__ can't be used as variable function on PHP 5.6"
[Two functions](https://github.com/mundschenk-at/php-typography/blob/dffb74c597e755bde5038dbc49922e2e6a206f98/src/class-dom.php#L197) use `__METHOD__` as a callable that is later used as a variable function, which fails on PHP < 7.0.

[2017-08-28 19:02] #18 closed

[2017-09-10 21:22] #4 closed

[2017-09-28 16:12] shimikano opened #27 "Not all settings are taken into account for the settings hash"
`$settings->get_hash()` only considers the `$data` member of the `Settings` class, but not other relevant members such as `$no_break_narrow_space`, `$primary_quote_style`, `$dash_style`, etc.

This results in a hash collision for two `Settings` instances that, e.g., only differ in the dash style.

In my client code, I quick-fixed this by using
[code]
as hash.

[2017-09-28 16:18] mundschenk-at commented on #27
You are right, the recent changes fail to take that into account. Will be fixed in the next version.

[2017-09-29 07:23] mundschenk-at opened #28 "Remove $inappropriate_tags and $self_closing_tags"
Move the properties `$inappropriate_tags` and `$self_closing_tags` to the `DOM` class (as static methods).

[2017-09-29 07:24] mundschenk-at opened #29 "Remove Hyphenator_Cache"
Remove the deprecated class `Hyphenator_Cache` (replaced by `Hyphenator\Cache` in 5.2.0).

[2017-09-30 11:07] #27 closed

[2017-10-07 10:43] mikerockett opened #34 "Dewidowing seems to override unit spacing"
When dewidowing, unit spaces don’t appear to be affected when at the end of a paragraph. As such `1 KB` will be converted to `1&nbsp;KB`, even when unit spacing is turned on. Expected result is `1KB`.

[2017-10-07 21:01] mundschenk-at commented on #34
Unit spacing will never produce `1KB`. Depending in the setting for the narrow no-break space character, it will either produce `1&nbsp;KB` or `1&#8239;KB`. Or do you mean the latter is replaced by the former when dewidowing is enabled?

[2017-10-08 06:54] mikerockett commented on #34
Apologies - that's really just for the purposes of presentation... You are correct.

Yes, so when dewidowing is enabled, the result is always `1&nbsp;KB`, irrespective of both the unit spacing and the narrow space setting.

[2017-10-08 08:17] mundschenk-at commented on #34
@mikerockett You are right, I've just looked at the code and the narrow no-break space is not properly escaped during dewidowing.

[2017-10-27 18:30] #34 closed

[2017-11-26 17:23] mundschenk-at opened #38 "Spurious » with French double quote style"
When French quotes are enabled, something like
[code]
results in output that looks like
[code]

Other quote styles are not affected. First [reported in the WordPress forums](https://wordpress.org/support/topic/double-inverted-comma-with-text-after-code-tags/).

[2017-12-02 14:04] #38 closed

[2017-12-04 09:45] mundschenk-at opened #40 "Reduce coupling"
Some classes are very tightly coupled at the moment, these dependencies should be removed/reduced.

[2017-12-04 21:58] #28 closed

[2017-12-04 21:58] #29 closed

[2017-12-08 21:41] khalwat opened #43 "&nbsp; appearing before ? and !"
Using the default setup, it appears that a `&nbsp;` is being inserted before ? and ! characters. What is the setting to disable this?

[2017-12-08 21:46] mundschenk-at commented on #43
`set_french_punctuation_spacing( false )`

[2017-12-08 22:02] khalwat commented on #43
Yep, I just found it, thanks!

[code]

I'd assume this would only be on by default if the language was French?

[2017-12-08 22:02] #43 closed

[2017-12-08 22:07] mundschenk-at commented on #43
No, all the boolean setters default to on. Maybe I should change that in the next major release (semver restrictions). It really makes no sense.

[2017-12-11 10:08] mundschenk-at opened #45 "Change default settings to meaningful values"
Change the default `Settings` to something sensible (e.g. disable `French punctuation spacing` as per #43).

[2017-12-16 23:06] #40 closed

[2017-12-22 21:02] mundschenk-at opened #50 "Allow injection of <body> classes"
Allowing classes to be added to the `<body>` element generated during `process` calls can make the "ignore classes" settings work more intuitively for some applications.

[2017-12-22 23:27] #50 closed

[2017-12-25 12:27] mundschenk-at commented on #45
Fixed in #46

[2017-12-25 12:27] #45 closed

[2018-01-06 23:55] khalwat opened #60 "Add Release Roadmap"
First, thank you for your work, I very much appreciate your contributions.

I have a small suggestion about the verisoning that you're doing; typically we'll have something like this in our `composer.json`:

[code]

So whenever you update the major version number (as recently happened to `6.0`), that means that we will no longer receive updates.

This can be further complicated if we have a larger

[2018-01-07 09:39] mundschenk-at commented on #60
I'll try to be more considerate of other users of `php-typography` in the future. The thing is, while 5.0 made the library much more modular, there are still some problematic aspects of the API (now mostly the settings object). I'd like to rework that, but it will be a breaking change.

Technically, 6.0.0 contained some breaking changes (removed deprecated properties and a changed constructor for

[2018-02-22 10:50] mundschenk-at opened #62 "Thin non-breaking space between adjacent quote characters"
Nested quotations should have thin non-breaking space between adjacent quote characters.

[2018-02-25 21:36] #62 closed

[2018-03-02 10:31] sjenset opened #65 "No support for the uppercase Norwegian character 'Å'?"
I'm using this on a website, through the plugin [Craft Typogrify](https://github.com/nystudio107/craft-typogrify) - and whenever I try to typogrify a word/sentence starting with a Norwegian character it seems to output nothing at all. I've reported [an issue](https://github.com/nystudio107/craft-typogrify/issues/5) to the plugin-creator, but after further investigation, it seems that this behavior

[2018-03-02 10:34] mundschenk-at commented on #65
That's pretty weird. You are using UTF-8 as your encoding?

[2018-03-02 10:36] sjenset commented on #65
File-encoding is UTF-8, yeah

[code]

[2018-03-02 10:38] sjenset commented on #65
Installation information:

[code]

[2018-03-02 10:45] mundschenk-at commented on #65
It's pretty weird (because even an encoding issue should just return the input string), but I've been able to reproduce the issue on my setup. I'll look into it.

[2018-03-02 10:46] sjenset commented on #65
Awesome. Make sure you catch my update in the original comment, as this seems to only be regarding the uppercase Å :)

[2018-03-02 18:05] #65 closed

[2018-03-07 14:44] bserem opened #68 "Custom hyphenation configs"
I stumbled upon a problem with French language and this led me to the idea that it would be nice to allow custom values to be passed to the hyphenation.

Hyphenating this text: `Avec le Valais, on ne sait jamais à quoi s'attendre`
Results into this: `Avec le Valais, on né sait jamais à quoi s'attendre`
Notice the `né` vs the `ne`. A sign is added above the e.

My client says this is not correct (a

[2018-03-07 15:25] mundschenk-at commented on #68
That's not directly related to hyphenation, but rather to "Smart Diacritics". Currently only US English (the default) and German are supported for this setting. For other languages, you should disable this setting (and there may be false replacements even for those two, this is something you have to decide if you want to risk enabling it).

[2018-03-07 15:48] bserem commented on #68
I am using the php-typography project as a requirement for another Drupal module, so I need to find out where/how to pass these settings.

Can I somehow disable this for one language and keep it enabled for another?
(the project in question is in both German and French)

Thanks for your reply

[2018-03-07 16:09] mundschenk-at commented on #68
Since you can have as many separate `Settings` objects as you like, in theory this should be no problem. However, I don't know how that Drupal module manages the settings, I can't tell you anything on how to do that in practice.

[2018-03-08 08:56] mundschenk-at commented on #68
@bserem After thinking about this, I'd simply disable the setting even for German. It's main use is adding proper diacritics to some French loan words. This is something a compentent copy writer will do by themselves. Also, loan words tend to lose their accents as they become more integrated into the host language, so re-adding diacritics is a very normative approach.

Regarding the passing of opt

[2018-03-08 08:59] bserem commented on #68
@mundschenk-at thanks, both for the definition of smart_diacritics (I didn't knew it) and for the support.

I am attempting to get these into the project. Will post back upon success!

[2018-03-08 09:22] bserem commented on #68
As pointed out by mundschenk-at, adding this:
`set_smart_diacritics: FALSE`
to a file called `typography_default.yml` in the theme root folder did the trick.

Thanks for the support!

[2018-03-08 09:22] #68 closed

[2018-05-10 08:32] mundschenk-at opened #72 "No space before closing guillemet followed by comma"
Reported by [Bernard ](https://code.mundschenk.at/wp-typography/#comment-550)Bel and [Triseult on WP.org](https://wordpress.org/support/topic/missing-space-after-before-guillemet-if-comma-is-present/).

[2018-05-10 08:35] mundschenk-at opened #73 "50/50 and 10/10 should not be treated as fractions"
Reported by [Su on WP.](https://wordpress.org/support/topic/missing-space-after-before-guillemet-if-comma-is-present/)org.

[2018-05-10 10:40] mundschenk-at commented on #72
Fixed in 57ca2f4456eb484b601bb04f900daeefde400644.

[2018-05-10 10:40] #72 closed

[2018-05-10 10:41] mundschenk-at commented on #73
Fixed in cd0e199dff65acbb308ca340dfc1d5b40541a5d9.

[2018-05-10 10:41] #73 closed

[2018-08-25 10:53] mundschenk-at opened #75 "Adjustable list of "apostrophe exceptions""
_From @Jellby on April 25, 2018 16:54_

## Issue Overview
When a word starts with an apostrope (like '60s, 'em), the apostrophe is rendered as an opening quote (instead of "closing"). This is with version 5.3.4 just installed.

## Steps to Reproduce (for bugs)
Just write the above examples with "smart quotes" enabled.

## Expected Behavior
Ideally, the apostrophe should be rendered as a closing si

[2018-08-25 10:53] mundschenk-at commented on #75
Well, you can always use `&apos;` in your content to force an apostrophe at that point. There actually is a [list of "apostrophy exceptions"](https://github.com/mundschenk-at/php-typography/blob/master/src/fixes/node-fixes/class-smart-quotes-fix.php#L45) (taken from WordPress' `wptexturize`).

As you wrote, it's very difficult to do this in a non-language-specific way, although I'm always open to

[2018-08-25 10:55] mundschenk-at opened #76 "Break at beginning/break preferences"
_From @strarsis on October 12, 2017 13:6_

Is it possible to let the browser break at a specific soft-hyphen?
Or let it prefer breaking at hyphens at end of a word instead at the beginning?
Alternatively, first word-breaking and resorting to breaking at
soft-hyphens if the word would overflow (as last resort)?
Are there JavaScript libraries that can make use of the soft-hyphens injected by this pl

[2018-08-25 10:55] mundschenk-at commented on #76
Not that I know of. If you find such a JS library, I'll consider including it. Though to me, that sounds more like hyphenation parameters you want to set. For specific words, you can override the hyphenation points from the settings (otherwise you'd have to edit the patterns).

However, wp-Typography uses the TeX hyphenation algorithm, so enhancements are only possible within the limits imposed by

[2018-08-25 10:55] mundschenk-at commented on #76
_From @strarsis on October 12, 2017 14:19_

Apparently there had been some discussion about hyphen/break-word prioritization: https://github.com/w3c/csswg-drafts/issues/791

wp-typography correctly injects the soft hyphens (similar to Hypher.js, but on server side and customizable by user via CMS backend) and the browser just uses them according to its own rules.

The algorithm would have to look

[2018-08-25 10:55] mundschenk-at commented on #76
Hyphenation is tricky and without proper wordlists (or the resulting pattern files), no algorithm will produce good results. Since the only free pattern files are the LaTeX ones, we have to stay with the TeX hyphenation algorithm.

wp-Typography sets hyphenation points according to the user's settings. What the browser does with those hyphenation points is beyond our control. Implementing a JavaSc

[2018-08-25 10:55] mundschenk-at commented on #76
_From @strarsis on January 26, 2018 23:19_

@mundschenk-at: There seems to be a technique for this: https://stackoverflow.com/questions/5392853/html-css-denoting-a-preferred-place-for-a-line-break

[2018-08-25 10:55] mundschenk-at commented on #76
@strarsis Which answer do you mean? The wrapping in `<span>` for each word in a list? That's some ugly markup. Of course you can manually insert that into your content to prevent or force a break at a certain point, but I don't see any way to do that automatically. (And did I mention that the markup is really, really ugly?)

[2018-08-25 10:55] mundschenk-at commented on #76
_From @strarsis on February 6, 2018 18:17_

@mundschenk-at: Can I use some hook in wp-typography for injecting these span-wrappers for a 'preferred/first' breaking? For a particular site this would be really handy, breaking whole words first, then specific fragments and then by hyphens (wp-typography) results in much nicer visual text flow.

[2018-08-25 10:55] mundschenk-at commented on #76
I'm not sure how you'd intend to target them. I've been thinking about a custom fix class that takes WordPress filters for some time now, but that would work best for a `NodeFix`. For hyphenation, I'd have to use a `TokenFix` and that API is quite a bit more complicated (hyphenation happens on tokenized words).

I'd have to think very hard about how to expose that API in way that makes sense to Wo

[2018-08-25 10:55] mundschenk-at commented on #76
_From @strarsis on March 22, 2018 15:40_

@mundschenk-at: Does wp-typography use some kind of default dictionary for determining where to break? Can I also use it for finding out what fragments would belong together? E.g. "test case" would be something that belongs together. Are there any dictionaries I can use for this?

The [`class-public-interface`](https://github.com/mundschenk-at/wp-typograph

[2018-08-25 10:55] mundschenk-at commented on #76
@strarsis I'm not sure what you mean by "default dictionary". wp-Typography uses the hyphenation algorithm devised by [Frank Liang](http://www.tug.org/docs/liang/) and uses the [TeX pattern files](https://ctan.org/tex-archive/language/hyph-utf8/tex/generic/hyph-utf8/patterns/tex) (converted to JSON).

As for the actual text manipulation, that's done by [`mundschenk-at/php-typography`](https://gith

[2018-08-25 10:55] mundschenk-at commented on #76
_From @strarsis on March 28, 2018 19:1_

@mundschenk-at: I was able to achieve this functionality by re-using a modified [`Public_Interface`](https://github.com/mundschenk-at/wp-typography/blob/master/includes/wp-typography/components/class-public-interface.php#L45) and [`WP_Typography`](https://github.com/mundschenk-at/wp-typography/blob/master/wp-typography.php) class from [wp-typography](https:

[2018-08-25 10:55] mundschenk-at commented on #76
You can provide your own hyphenation exceptions for specific words. I'm not sure that anything else (one-letter words already get special treatment) would be generally useful, but if you've got some code I'll have a look. In any case, to do a clean implementation, you would have to provide an implementation of [`\PHP_Typography\Fixes\Node_Fix`](https://github.com/mundschenk-at/php-typography/blob/

[2018-08-25 10:55] mundschenk-at commented on #76
_From @strarsis on March 28, 2018 19:37_

@mundschenk-at: https://github.com/strarsis/wp-typography-groups
The code is quite hacky and consists basically of modified wp-typography parts.
The plugin relies on the filter management of wp-typography and text node handling of PHP_Typography.

[2018-08-25 10:55] mundschenk-at commented on #76
Ah yes, that's way to high up in the processing chain. Still not sure why the extra `<span>` is needed. Why not just use a non-breaking space? Not quite the same result, but way easier to do and much cleaner mark-up.

[2018-08-25 10:55] mundschenk-at commented on #76
Ah, now I get it. The two words should stay together, but wrapping at the space is better than breaking up a word.

[2018-08-25 10:55] mundschenk-at commented on #76
_From @strarsis on March 28, 2018 20:20_

@mundschenk-at: Yes! This is very useful for text fragments that should stay together, e.g. 'New York', because breaking there can look quite ugly and can even confuse the reader.

The non-breaking space seems to prevent any breaking at all. Ideally there should be a special unicode break-character that just discourages breaking but does not completely pre

[2018-08-25 10:55] mundschenk-at commented on #76
_From @strarsis on April 3, 2018 22:27_

@mundschenk-at: Would this feature be useful enough though for being considered to be implemented in wp-typography?

[2018-08-25 10:55] mundschenk-at commented on #76
@strarsis It would first have to be implemented in `php-typography`. It's not a priority for me at the moment, but I wouldn't rule it out either.

[2018-08-26 09:43] mundschenk-at opened #78 "Comma before line break, remove remaining text"
The example string `<p>Line One,<br>Line Two,<br><span>Line Three.</span></p>` gets replaced with `<p>Line One,<br>Line Two,<br><span></span></p>`.  Reported by @Joobs in https://github.com/nystudio107/craft-typogrify/issues/13.

[2018-08-26 10:37] #60 closed

[2018-08-26 11:51] #78 closed

[2018-08-26 16:16] #75 closed

[2018-10-24 12:09] brutto opened #89 "HTML special chars processing"
Thanks for this powerfull library. Found strange behaviour of this typo

### Settings

[code]

### Predictable (Correct)
[code]
Output string will we as input with `&nbsp;` as a text.

### Unpredictable (Incorrect)
[code]
Output string will we without `&nbsp;` as a text, all become spaces.

PS: the same with `& <=> &amp;`

[2018-10-24 12:29] mundschenk-at commented on #89
I'm not completely sure I understand the issue correctly. Just to clarify, the input string is not escaped by PHP-Typography, so `&nbsp;` is processed as a `NO-BREAK SPACE` literal. The `$html` input parameter of the `PHP_Typography::process` method is assumed to be a valid HTML fragment (i.e. without the document type, and surrounding `<html>` and `<body>` tags, but otherwise well-formed).

[2018-10-24 13:45] brutto commented on #89
@mundschenk-at

This is working code about second variant:
[code]
Expected `$string` will be:
`He is a&nbsp;robot, am i&amp;nbsp;too?`,

But in real we have:
 `He is a&nbsp;robot, am i&nbsp;too?`.

Second `&amp;nbsp;` become `&nbsp;`.

Im not dig deeper, but first impression this behaviour not correct. Am i right?

[2018-10-24 16:30] mundschenk-at commented on #89
OK, I see what you mean. Yes, the result should be `He is a&nbsp;robot, am i&amp;nbsp;too?` in this case. I'll investigate the issue.

[2018-11-17 17:39] aourednik opened #90 "French : ne bocomes né"
When using the following settings:
[code]
the script replaces all ne by né .
My simple workaround
[code]
Or am I setting something wrog?

[2018-11-17 18:31] mundschenk-at commented on #90
You need to disable the smart diacritics (which default to `en-US`). It would probably be best if you disable the default settings (which exist mostly for historical reasons) and only explicitly enable the features you want.

[code]

The current default setting situation is somewhat US-centric for historical reasons. Unfortunately, removing it introduces a BC break and I missed the chance in 6.0.0

[2018-11-19 10:41] mundschenk-at commented on #90
@aourednik: Have you been able to fix the issue with my explanation?

[2018-11-24 16:41] strarsis opened #93 "Keep units together (€)"
## Issue Overview
Units should be kept together, '€' had been added to the list of units.

## Steps to Reproduce (for bugs)
1. Have text on page that contains a price with a currency like "10 €" where its container should cause word breaking/hyphenation.
2. Notice that still a break occurs between the number (here "10") and the currency symbol (here "€").
The value and currency symbol are not wrap

[2019-01-10 17:08] mundschenk-at commented on #90
Looks like this is resolved.

[2019-01-10 17:08] #90 closed

[2019-01-18 19:41] mundschenk-at opened #91 "Add French and Latin ordinals to Intelligent Character Replacement"
First requested by **weblwp** in the [WordPress Plugin Repository Forum](https://wordpress.org/support/topic/ordinals-in-french-not-replaced/#post-11105539).

Resources:
* https://en.wiktionary.org/wiki/Appendix:French_numbers
* https://contrib.spip.net/Ortho-typographie

[2019-01-23 19:12] #89 closed

[2019-01-23 21:32] mundschenk-at commented on #93
Uh-oh. There were _a  lot_ of issues with the unit spacing routines. Thanks for the report!

[2019-01-23 22:13] #93 closed

[2019-01-23 22:19] strarsis commented on #93
@mundschenk-at: It would be great if php-typography dependency could also be updated in wp-typography plugin and published.

[2019-01-23 22:23] mundschenk-at commented on #93
Yes, of course, in due time :)

[2019-01-24 15:52] #91 closed

[2019-01-25 10:06] mundschenk-at opened #98 "Use non-breaking hyphen where appropriate"
Use the `NON-BREAKING HYPHEN` character at the beginning of words (e.g. German `Warenein- und -ausgang`) and in compound words when one part is very short (1 or 2 letters).

[2019-01-25 16:05] mundschenk-at opened #99 "Generalize glyph remappings"
Currently, there exists the specific remapping of the `NARROW NO-BREAK SPACE` to the regular `NO-BREAK SPACE` due to problems with browser compatibility. This mechanism should be extended to allow for other re-mappings (like the `HYPHEN` to the `HYPHEN-MINUS`).

[2019-01-26 16:13] mundschenk-at opened #100 "Simplify settings methods"
The setter methods of the `Settings` class should be more straight-forward to use  and only take arrays where appropriate. (A set of helper functions could be provided to convert formatted strings to arrays.)

[2019-01-28 20:15] mundschenk-at opened #103 "Overzealous Roman numerals matcher"
Standalone `C`, `D` and `L` are correctly detected as Roman numerals, but together with the suffix `e` (and possible some others), the result is problematic in (at least) French and Dutch.

[2019-01-29 08:56] #103 closed

[2019-03-20 19:10] benface opened #106 "Strange bug: word disappears when set_dewidow_word_number is > 1"
Simplest reproducible case:

1. Set `set_dewidow_word_number` to `2`
2. Process this HTML:
[code]
    (Note: the newlines matter; `<p>Test</p>` doesn't reproduce the issue)
3. Notice the "Test" word is gone; the source reads: `<p></p>`

[2019-03-20 19:14] mundschenk-at commented on #106
I'll look into it.

[2019-03-20 19:18] benface commented on #106
Appreciate the super quick reply!

[2019-03-27 19:00] mundschenk-at opened #107 "English '60s and German '80er should get an apostrophe"
The English `'60s` and the German `'80er` should both be rendered with an apostrophe instead of an opening quote.

[2019-04-29 09:46] widg opened #108 "does't work on laravel 5.8"
php 7.3

[code]

[code]

output:

`"<p>Make sure to place com­posers sys­tem-wide ven­dor bin direc­to­ry in your so the lar­avel exe­cutable can be locat­ed by your system.&nbsp;</p>"`

[2019-05-03 15:12] joshuabaker opened #109 "PHP 7.3"
I’m seeing some odd output from PHP 7.3.

#### Code

[code]

#### PHP 7.2 Output

[code]

#### PHP 7.3 Output

[code]

[2019-05-03 15:25] mundschenk-at commented on #109
Anything else that might differ between the two versions? I've noticed that the Travis script did not include PHP 7.3, so I rectified that, but [the tests run fine](https://travis-ci.org/mundschenk-at/php-typography/jobs/527824396).

[2019-05-05 06:28] mundschenk-at commented on #109
@joshuabaker Can you please be a bit more specific about those two environments (extensions, settings)?

[2019-05-07 18:39] joshuabaker commented on #109
@mundschenk-at It’s stock MAMP Pro on macOS without anything extra enabled. Specific PHP version is PHP 7.3.1.

[2019-05-07 18:56] mundschenk-at commented on #109
@joshuabaker There's something wrong with your PHP installation.

[code]

[2019-05-07 19:16] joshuabaker commented on #109
I’m getting the same output when using the same version in isolation, directly using MAMP’s PHP.

[code]

There’s clearly something going on that’s impacting the library elsewhere in the codebase. Do you have any pointers as to what that might be?

[2019-05-07 19:23] mundschenk-at commented on #109
It's pretty weird, looks like something is almost (but not quite) letter-spacing the output. Can you give me some idea what kind of codebase we are talking about? In a WordPress environment, I'd say something is filtering your output, but that's of course not the case here. Maybe some strange parameters for libxml? (Of course `html5-php` should normalize all that.)

[2019-05-07 19:35] joshuabaker commented on #109
This is happening on a Craft CMS installation, which itself is based on Yii 2.

@khalwat mentions that there’s [others running into the same issue](https://github.com/nystudio107/craft-typogrify/issues/28#issuecomment-490220570).

[2019-05-07 21:01] mundschenk-at commented on #108
@widg Since I'm not familiar with Laravel, you'll have to provide additional information on what environment you are having the problem (and what the `dd()` function does.

Here's the output from my system:

[code]

[2019-05-08 16:42] RicLeP opened #111 "Can’t use widows when hyphens disabled"
I have the following settings but widows seems dependant on hyphenation being enabled. Is this a bug or expected behaviour? It would be very useful to dewidow without hyphenation.

[code]

[2019-05-08 17:21] mundschenk-at commented on #109
@joshuabaker Any new fibdings?

[2019-05-08 17:23] joshuabaker commented on #109
@mundschenk-at We‘ve put it down for now. Will report back here should we find anything.

[2019-05-08 19:15] mundschenk-at commented on #111
Hi @RicLeP!

I think the reasoning behind this was to prevent long word switching lines when hyphenation is disabled (making things even uglier). That said, I see no reason to enforce this if someone wants to dewidow without hyphenation.

[2019-05-08 19:30] mundschenk-at commented on #111
Actually, there is no such limitation. You just need to set the maximum pull as well (using `set_max_dewidow_pull`).

[2019-05-08 19:30] #111 closed

[2019-05-09 16:21] clarknelson commented on #109
I am experiencing the same issue on my website

[2019-05-09 16:53] mundschenk-at commented on #109
Are you using Craft as well, @clarknelson?

[2019-05-09 17:01] clarknelson commented on #109
yes! I am using Craft 3.0.31, and the `nystudio107/craft-typogrify` package, but "nystudio107" (along with @joshuabaker) have determined that this package is the source of the issue

[2019-05-09 17:04] mundschenk-at commented on #109
Well no, some kind of interaction with the Craft codebase. Unfortunately, I know nothing about Craft and cannot reproduce the issue standalone (as documented in this issue). Bring me a minimal test case and I'll gladly fix any bug in PHP-Typography.

[2019-05-09 17:04] joshuabaker commented on #109
@clarknelson If you read back, this library works fine in PHP 7.3. There’s something happening in the Craft environment that seems to be causing these issues.

[2019-05-09 17:08] mundschenk-at commented on #109
@joshuabaker Can you get me a list of installed packages in your Craft environment? It has to be a file that included directly by the autoloader (i.e. containing functions), otherwise this would not happen when you run the minimal example in your Craft directory.

[2019-05-09 17:17] clarknelson commented on #109
here are my composer dependencies, maybe there is a common package with @joshuabaker

[code]

[2019-05-09 18:15] joshuabaker commented on #109
@mundschenk-at Right. Got it. It’s not Craft per se.

#### Problem Source

Craft is adjusting PHP’s string methods in the [web bootstrap file](https://github.com/craftcms/cms/blob/ef64d302f884023b86d60b9d16d15f39a29e5826/bootstrap/web.php#L26).

[code]

#### Test

[code]

[2019-05-13 17:29] angrybrad commented on #109
Should be resovled in https://github.com/craftcms/cms/commit/8bf818a2e61a3468ab4630e45a9ad9ad42503975, which will be in the next release.

[2019-05-13 17:31] #109 closed

[2019-05-19 12:09] mundschenk-at commented on #108
@widg You will have to provide additional information, otherwise I can't possibly fix this issue.

[2019-05-19 12:19] widg commented on #108
You are right, everything works! Thank!

[2019-05-19 12:23] #108 closed

[2019-05-23 09:48] theamnesic opened #112 "Square and cubic metre"
Hi!

Square and cubic metre `m2` and `m3` aren't transformed to `m²` and `m³`.

When somebody type 250m2 or 250m3, it would be a good enhancement to convert `2` and `3` to glyphs ² and ³ (and [not superscript](https://github.com/mundschenk-at/wp-typography/issues/248#issuecomment-494946380)).

Thanks!

[2019-06-05 12:20] nilshoerrmann opened #113 "License restrictions"
We are interested in using PHP Typography in a plugin for [Kirby CMS](https://getkirby.com/). From what I understand, the license of this library (GPL2) requires such a plugin to be released under the same license. Although Kirby's source is open it's released under a commercial license which makes me doubt that it can be combined with any plugin under GPL. Same is true for any other CMS under MIT

[2019-06-05 17:46] mundschenk-at commented on #113
I don't know about the Kirby license, but so long as you use Composer to actually install the library (and not distribute it as part of an aggregated work), you should be fine.

While I'm open to relicensing under the LGPL, I'm not the sole copyright holder of PHP-Typography. It would therefore be a somewhat prolonged process, depending on how easy @kingjeffrey can be contacted nowadays and what h

[2019-06-05 18:10] nilshoerrmann commented on #113
Thanks for your quick reply and the information about the shared copyright.

Using Composer would not be our first choice but it would work for us for now. If you and the other copyright holders could agree on a less strict license in the long run that would be very much appreciated! This is a really great library and it would be pleasant to not work in a grey area as GPL can be really tricky.

[2019-06-22 11:15] mundschenk-at opened #114 "Add "international-no-hair-spaces" dash style"
Requested by Frank Spade: https://code.mundschenk.at/wp-typography/#comment-736

[2019-06-29 21:40] #107 closed

[2019-06-30 07:59] #114 closed

[2019-06-30 16:35] mundschenk-at commented on #112
Closed by #117.

[2019-06-30 16:35] #112 closed

[2019-07-03 08:51] mundschenk-at opened #119 "Use named constants for settings data"
Use named constants instead of plain strings for accessing settings data.

[2019-07-05 06:29] #99 closed

[2019-07-05 14:14] #98 closed

[2019-07-05 15:01] mundschenk-at commented on #106
@benface Have you got a self-contained minimal example? I've tried reproducing this issue, but I can't seem to trigger it.

[code]
[code]
[code]

[2019-07-05 19:11] benface commented on #106
@mundschenk-at Huh. I apologize, I can't seem to be able to reproduce this anymore. Sorry for wasting your time!

[2019-07-05 19:11] #106 closed

[2019-07-05 20:11] mundschenk-at commented on #106
No problem. It might have been something I fixed along the way while working on other things.

[2019-07-05 21:27] #119 closed

[2020-03-27 21:15] mundschenk-at opened #126 "Use native mb_str_split on PHP 7.4"

[2020-03-27 21:16] mundschenk-at opened #127 "Use native mb_str_split on PHP 7.4+"
PHP-Typography should use the native [`mb_str_split`](https://wiki.php.net/rfc/mb_str_split) when it is available.

[2020-03-27 21:21] mundschenk-at opened #128 "Update PHPUnit"
Update to latest PHPUnit version

[2020-04-01 20:04] mundschenk-at opened #130 "Update hyphenation patterns"
There have been significant upstream changes to these patterns:
* German
* German (Traditional)
* German (Swiss Traditional)
* Latin (Classical)
* Latin (Liturgical)
* Spanish

Patterns with minor updates:
* Amharic
* Chinese pinyin (Latin)

[2020-04-01 20:09] #127 closed

[2020-04-01 20:35] #130 closed

[2020-04-05 12:12] #128 closed

[2020-05-09 10:26] mundschenk-at opened #134 "Incorrect quote parsing with footnotes"
Reported as a [comment on the wp-Typography webpage](https://code.mundschenk.at/wp-typography/#comment-877): `à "l’âge" <sup><a>N112</a></sup>` is rendered `à&nbsp;«&nbsp;l’âge«&nbsp;<sup><a>N112</a></sup>`. To fix this, the algorithm would have to take the adjacent element into account, not only adjacent text.

[2020-06-25 12:46] ptica opened #135 "Orphan prepositions"
Hi, thank you for awesome library!

Please, is there a fix or settings to non-breakable spaces to double chars prepositions as well?

[2020-06-27 08:21] mundschenk-at commented on #135
There is currently no such feature for all 2-character words, but you might want to experiment with the dewidowing settings. Targetting English preopositions specifically is something I would not like to do, as the library tries to be language agnostic.

[2021-03-16 16:32] Coysh opened #136 "Not displaying text after ,<br>"
### Describe the bug
I have a redactor field that has the following text in it:
`<p>Test,<br>test,</p><p>test,<br>test,<br>test,</p><p>test</p>`

In my twig file I have the following:
[code]
Output is the below:
![image](https://user-images.githubusercontent.com/5764356/87559715-8ff68e80-c6b2-11ea-9adc-5850521d16de.png)

Or as HTML
[code]

[2021-03-16 16:32] Coysh commented on #136
First appeared here: https://github.com/nystudio107/craft-typogrify/issues/37

[2021-03-16 21:07] mundschenk-at commented on #136
Hi @Coysh, can you create a minimal test case that happens with the library itself? I've got no idea what the `typogrify` command actually applies (in terms of my library) and I'm not really familiar with Twig either (other than knowing it is a templating engine).

So to understand what the bug actually is, I need to know what input is passed to [`PHP_Typography::process()`](https://github.com/mun

[2021-04-16 18:34] GuyVervilleSpiria opened #137 "Space between every letter"
Hi, I do not understand why all the text is broken into one letter per word...

![renderedtext2](https://user-images.githubusercontent.com/69694028/115068640-85c32400-9ec0-11eb-82c6-9141f9d2feb2.png)

![renderedText](https://user-images.githubusercontent.com/69694028/115068508-590f0c80-9ec0-11eb-88c8-40a6ce43de34.png)

The code is a basic trial:
`
$settings = new \PHP_Typography\Settings();
$setti

[2021-04-17 08:54] mundschenk-at commented on #137
Are you, perchance using Craft? If so, it is a recurrence of #109.

[2021-04-17 08:55] mundschenk-at commented on #136
Have you been able to solve this issue, @Coysh?

[2021-04-17 13:30] GuyVervilleSpiria commented on #137
No, I am using ProcessWire. I will try outside this CMS.

Guy Verville
SPIRIA
________________________________
De : Der Mundschenk & Compagnie ***@***.***>
Envoyé : Saturday, April 17, 2021 4:54:40 AM
À : mundschenk-at/php-typography ***@***.***>
Cc : Guy Verville ***@***.***>; Author ***@***.***>
Objet : Re: [mundschenk-at/php-typography] Space between every letter (#137)

Are you, perchance usin

[2021-04-17 13:49] mundschenk-at commented on #137
Thank you. The cause is very likely similar to the one in the referenced issue ([a `setlocale` call in an always-autoloaded boostrap file](https://github.com/mundschenk-at/php-typography/issues/109#issuecomment-491010719)).

[2021-04-17 14:11] GuyVervilleSpiria commented on #137
I will check that. BTW, there is a port for ProcessWire, but for the original PHP Typography which inspires yours, I think. The only problem with this module is that it is still not multi-lingual and in beta.

https://gitlab.com/rockettpw/tools/typographer
https://processwire.com/talk/topic/15130-typographer/page/1/

[2021-06-05 10:06] architchandra opened #138 "Is there a way to escape a set of characters?"
In general, I want to have the functionality that `php-typography` offers, but in certain situations, I want to use certain patterns literally that would have otherwise been converted. eg. I want to use (c) in some cases without it getting converted to ©.

I couldn't find anything in the documentation that would help with this (usual escaping characters are not working). Maybe I'm missing somethin

[2021-06-05 12:05] mundschenk-at commented on #138
There is no "escaping" on the character level, but wrapping it in `<span class="noTypo"></span>` should do the trick (or whatever "ignore" class you prefer, it depends on the settings).

[2021-06-06 11:50] architchandra commented on #138
Can I then make a request for you to consider adding _escaping_ at the character level in the future?

[2021-06-06 12:44] mundschenk-at commented on #138
If you've got a specific proposal, please create a new issue as a feature request. Otherwise, I'll think about it, but it's unlikely to happen in the near future.  I can't think of a non-HTML based version that won't cause a lot of side-effects for existing installations.

[2021-06-06 14:58] architchandra commented on #138
Thanks. I'll think of the specific details and follow-up with you.

[2021-06-06 14:58] #138 closed

[2021-06-28 12:41] jonnitto opened #139 "Process is not applied"
If I initialize the settings with `false`, I can't enable anything. But if I initialize it without parameter, I can turn features off (e.g. `set_hyphenation(false)`

I also see no de widow, even with the default setting…

[2021-06-28 20:30] mundschenk-at commented on #139
Do you have a minimal example somewhere (gist or repo is fine)?

[2021-06-28 20:31] mundschenk-at commented on #137
@GuyVervilleSpiria Have you been able to investigate the issue or produce a minimal example for me to look at?

[2021-06-28 20:32] mundschenk-at commented on #136
Have you got a minimal example for me to investigate this, @Coysh?

[2021-06-28 20:36] GuyVervilleSpiria commented on #137
Hi,
Sorry I didn't intervene earlier. The problem is probably similar to what I experienced with the module for ProcessWire. I just clarified a few things for the French.

[code]

[2021-06-28 20:36] #137 closed

[2021-07-16 21:01] mundschenk-at commented on #139
@jonnitto Is this still relevant?

[2021-07-16 21:02] mundschenk-at opened #140 "Exception list for Roman numeral ordinals"
Requested via the [WP.org support forums](https://wordpress.org/support/topic/add-words-to-an-exception-list/).

[2021-07-16 21:08] mundschenk-at opened #141 "Smart sub-/super-script"
Similar to smart diacritics, `CO2` should become `CO<sub>2</sub>` and  “CO2” to `Trademark®` `Trademark<sup>®</sup>`. Requested via the [WP.org support forums](https://wordpress.org/support/topic/smart-replace-sub-superscript/).

[2021-09-03 15:11] gchtr opened #142 "Bug with smart quotes processing when quoted text is directly followed by HTML"
First of all, thanks for that awesome library 🙌. It works really well! Our clients love that they don’t have to think about all the small typographic details when publishing content, because this library catches so many things.

I have an issue when with smart quotes processing, when a quoted text is directly followed by a HTML element without spaces around.

As soon as I put spaces on the left or

[2021-09-03 15:31] mundschenk-at commented on #142
Thank you for the report. That is happening because the "following" letter is taken into account (unless there are block-level elements in between - I'll have to check what the DOM tree actually looks like here, but `br` will probably need special handling.

[2021-09-21 16:03] strarsis opened #143 "Prevent break between bracket + space / space + bracket"
In some languages, e.g. French, the brackets are padded with a space character:
[code]
[code]
and
[code]

Also in other languages, some CMS users add a space between bracket and enclosed text just for decorative purposes.

This should be handled by CSS instead, which is hard because CSS currently (and quite probably also in the near to mid future) can't select individual letters without using a Ja

[2022-01-23 19:54] mundschenk-at opened #144 "Support gender-sensitive language for German"
Support Hyphenation for German words containing `*`, `:` or `_`(e.g. `Mitarbeiter*innen`). Requested multiple times in the WP.org support forum: [1](https://wordpress.org/support/topic/gendering-issue/), [2](https://wordpress.org/support/topic/worttrennung-in-ge-genderten-worten-mit-moglich/).

[2022-03-07 20:35] animaux opened #146 "UTF-Non-breaking-Space before Endash is replaced by regular space"
php-typography seems to remove intentionally set non-breaking-spaces before en-dashes. We use them in order to prevent lines from starting with a dash, like this `[non-breaking-space][en-dash][regular-space]`.

Through php-typography:

![Bildschirmfoto 2022-03-07 um 11 30 18](https://user-images.githubusercontent.com/446874/157014408-58df4f63-ea61-4d2b-a108-e09cbf63ec3c.png)

Without php-typograph

[2022-03-07 20:38] animaux opened #147 "Unintended hyphen-dash-replacement"
The german string `Kunst-, Kultur- und Architekturgeschichte` is rendered `Kunst–, Kultur- und Architekturgeschichte`, the first hyphen is replaced with an en-dash, but should remain a hyphen. ~~Another example is the german spelling of email —> `E-Mail` which unintendedly becomes `E–Mail`.~~

Version is 6.0 (in Craft Typogrify plugin)

[2022-03-07 20:45] mundschenk-at commented on #146
Could you please provide a standalone test case (using just the library)?

[2022-03-07 20:51] mundschenk-at commented on #147
Thanks, this one is a bit tricky because we can't interpret the conjunction. I'll see if I can fix this issue without breaking anything selse (`E–Mail` is definitely a bug, but the list might be a ”damned if you do, damned if you don't” situation. There is only so much you can do via regexes.

[2022-03-07 20:52] mundschenk-at commented on #147
@animaux, do you really mean version 6.0.0 of PHP-Typography? If you, please try updating to a recent version and check if this still occurs.

[2022-03-07 20:56] animaux commented on #147
Thank you! I understand `;)`

As for the version. I thought this was the version the typogrify plugin for craft cms uses. I don’t know much about composer, but there is this in the `composer.json`:

[code]

Or does it mean »Version 6.0 and upwards?«

[2022-03-07 21:04] mundschenk-at commented on #147
Yes, that means "any 6.x version". You should bee able to see the actual version in the `composer.lock` file (should `6.6.0`).

[2022-03-07 21:10] animaux commented on #147
Thanks for the pointer! `composer.lock` lists version `6.6.0`.

[2022-03-07 21:11] mundschenk-at commented on #147
Regarding `E-Mail`: Is that result above an c&p or manually retyped? Because you should see `E&#8209;Mail`, which is the _non-breaking hyphen_. If you really do get an `&ndash;` there, I need a standalone example (so that I know the exact settings and we can rule-out any post-processing by Craft or the plugin).

[2022-03-07 21:30] animaux commented on #147
I think it must have been Copy & Paste. This one is for sure: `Kunst‑, Kultur- und Architekturgeschichte`. Checking it directly via decodeunicode it returns a `U+02011 NON-BREAKING HYPHEN` after `Kunst` and a `U+0002D
HYPHEN-MINUS` after `Kultur`. So the latter is actually not an endash, but it's evil twin!

I can’t reproduce the endash in E-Mail anymore, so I think it must have been a copy & past

[2022-03-08 08:28] animaux commented on #146
Here’s a simple test-case: https://gist.github.com/animaux/ae3e2a96f886f8dedb3ca736194e84a0

Result is different than the one in the craft extension (NO-BREAK SPACE is retained), so the problem seems to be outside php-typography. Closing this, thanks!

[2022-03-08 08:28] #146 closed

[2022-03-08 08:39] animaux commented on #147
Here’s a simple test-case: https://gist.github.com/animaux/ae3e2a96f886f8dedb3ca736194e84a0

Test-source-html:

[code]

Results are as follows:

+ The hyphen after `Kunst-` becomes a `NON-BREAKING HYPHEN` which for some reason is rendered longer than a normal hyphen in macOS 10.15.7 Safari 15.3, but looks fine in Firefox. So this seems to be a Safari or System-Font problem.
+ Same goes for `E-Mail

[2022-03-08 08:50] animaux commented on #147
Feel free to close this, as the `UNESCO-Welterbestätten`-Problem can be solved by using a `NON-BREAKING HYPHEN` in the source text.

[2022-03-08 11:18] animaux opened #148 "Space inside Caps is disappearing"
I’ve included another issue in the testcase: https://gist.github.com/animaux/ae3e2a96f886f8dedb3ca736194e84a0

`<p>DEUTSCHES MEERESMUSEUM</p>`

turns to:

[code]

The regular space is returned as a `line-break` which is not neccesarily displayed as whitespace, depending on the CSS.

![Bildschirmfoto 2022-03-08 um 12 19 02](https://user-images.githubusercontent.com/446874/157228413-83e28dd2-cb57-4a

[2022-03-08 12:58] animaux commented on #148
Sorry, works fine with php-typography only. Seems to be either a craft or problem with other components of the typogrify extension.

[2022-03-08 12:58] #148 closed

[2022-05-10 07:06] romainpoirier opened #149 "set_smart_diacritics is adding useless accented characters"
### Describe the bug
`set_smart_diacritics` is adding accented characters where this makes absolutely no sense, making this option useless.
né doesn't mean anything in French in a lot of context:

- Il est **né** → He is **born**
- Il **ne** veut **pas** → He does **not** want

While `ne` is most widely used, this setting is useless and must be disabled on French websites.

### To reproduce
Steps

[2022-05-17 20:54] mundschenk-at commented on #149
It's not suitable for French because the default language (see `set_diacritic_language`) is `en-US`. Currently, the only two [languages supported are `en-US` and `de-DE`](https://github.com/mundschenk-at/php-typography/tree/main/src/diacritics). If you can provide a suitable JSON file for French, I'll gladly include it.

[2022-06-03 13:50] ericpugh opened #150 "PHP 8.1 deprecation warning"
I'm receiving the following error using php-typograph 6.6.0 and PHP 8.1.2:

[code]

[2022-09-24 13:43] dcplebranch opened #152 "Possible to escape selectively?"
Love the library. However, I'm having an issue where the term "Open 24/7" is being typogrified into a weird fraction thingy. Is there a way to typogrify everything except this select phrase? If there is a way to escape selectively, that would also work. Just to be clear, I know how to change the settings and turn off the fraction thingy... but I would like to keep my settings the same, because MOS

[2022-09-24 14:00] mundschenk-at commented on #152
Wrapping it in `<span class="noTypo">` should do the trick.

[2022-09-24 14:01] mundschenk-at commented on #150
Yeah, I need to bring the library up to current PHP versions. Will try do that soon-ish.

[2022-09-24 14:07] dcplebranch commented on #152
Thanks! That worked perfectly for my needs!

[2022-09-24 14:07] #152 closed

[2022-10-20 12:44] Lennso opened #153 "Maybe not working with html heading tags?"
See this first: https://github.com/nystudio107/craft-typogrify/issues/78

I use typogrify plugin for craft which uses php-typography:
`{{ entry.editor | typogrify }}`

My typogrify.php config:
[code]

My (german-text) html output:
[code]

Hyphenation for my p-element is working, but not for the headings. Could it have something to do with this package?

[2022-10-20 19:43] mundschenk-at commented on #153
I'd need your full configuration to be sure, but most likely you have either enabled dewidowing or are skipping the contents of `<h1>` and `<h2>`.

[2022-11-07 18:47] #149 closed

[2022-11-07 18:48] #139 closed

[2022-11-07 18:49] mundschenk-at commented on #113
I'm closing this as "wontfix", as a license change is unlikely by now.

[2022-11-07 18:49] #113 closed

[2022-11-07 23:28] mundschenk-at commented on #153
Is this still relevant, @Lennso?

[2022-11-11 23:43] #150 closed